In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time

In [2]:
# Headless browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome',**executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [C:\Users\agreg\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache

In [3]:
# Visit news site https://redplanetscience.com
news_url = "https://redplanetscience.com/"
browser.visit(news_url)

In [4]:
# Parser
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [5]:
# Find the first article div, class list_text
article = soup.find('div', class_='list_text')
print(article)

<div class="list_text">
<div class="list_date">June 13, 2022</div>
<div class="content_title">NASA's Curiosity Keeps Rolling As Team Operates Rover From Home</div>
<div class="article_teaser_body">The team has learned to meet new challenges as they work remotely on the Mars mission.</div>
</div>

In [6]:
# Scrape the title and save in a variable
title = article.find('div', class_='content_title').text
title

"NASA's Curiosity Keeps Rolling As Team Operates Rover From Home"

In [7]:
# Scrape the paragraph text and save in a variable
paragraph = article.find('div', class_='article_teaser_body').text
paragraph

'The team has learned to meet new challenges as they work remotely on the Mars mission.'

In [8]:
# Visit Featured Space Image site https://spaceimages-mars.com
img_url = "https://spaceimages-mars.com/"
browser.visit(img_url)

In [9]:
# Parser
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [10]:
# Find the div with the Featured Mars Image
header = soup.find('div',class_='header')
print(header)

<div class="header">
<nav class="navbar navbar-expand-lg">
<a class="navbar-brand" href="#"><img id="logo" src="image/nasa.png"/><span class="logo">Jet Propulsion Laboratory</span>
<span class="logo1">California Institute of Technology</span></a>
<button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse" type="button">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
<ul class="navbar-nav">
<li class="nav-item active">
<a class="nav-link" href="#"><i aria-hidden="true" class="fa fa-bars"></i>   MENU   <i aria-hidden="true" class="fa fa-search"></i></a>
</li>
</ul>
</div>
</nav>
<div class="floating_text_area">
<h2 class="brand_title">FEATURED IMAGE</h2>
<h1 class="media_feature_title">Dusty Space Cloud</h1>
<br/>
<a class="showimg fancybox-thumbs" href="image/featured/mars1.jpg" target="_blank"> <button class="btn btn-outline-light"> FULL IMAGE</button></a>
</div>
<img class="headerimage fade-in" src="image/featured/mars1.jpg"/></div>

In [11]:
# Extract the URL from the header used for the Featured Image
image = header.find('img',class_ = 'headerimage fade-in')
featured_image_url = img_url + image['src']
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [12]:
# Visit Mars Facts site https://galaxyfacts-mars.com
facts_url = "https://galaxyfacts-mars.com/"
browser.visit(facts_url)

In [13]:
# Use Pandas to scrape the planet profile table
table = pd.read_html(facts_url)
table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
# Convert the scraped table to a DataFrame
df = table[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [15]:
# Convert DataFrame to table, replace values with blanks 
html_table = df.to_html().replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>      <th>2</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Mars - Earth Comparison</td>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [16]:
# Save the file as .html
df.to_html('table.html')

In [17]:
# Visit astrogeology site
hemi_url = "https://marshemispheres.com/"
browser.visit(hemi_url)

In [18]:
# Empty list for the dictionaries
hemisphere_image_urls = []

In [19]:
# Parser
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [20]:
# Click on links to go to the hemisphere pages
links = []
area = soup.find_all('a', class_ = 'itemLink')

for each in area:
    try:
        link = each.get('href')
        if link not in links:
            links.append(link)
        browser.visit(hemi_url + link)
        # Parser
        html2 = browser.html
        soup2 = BeautifulSoup(html2, 'html.parser')
        downloads = soup2.find('div', class_ = 'downloads')
        anchor = downloads.a
        href = anchor.get('href')
        if hemi_url + link + href not in hemisphere_image_urls:
            hemisphere_image_urls.append(hemi_url + link + href)
    except:
        pass

In [23]:
browser.quit()